/* Empty. Add your own CSS if you like */
.angular-google-map-container {
    height: 225px;
}

#big-map {
    height: 100%;
}

.bar-footer {
    height: 60px;
}

.list {
    padding-bottom: 16px;
}

.bar-footer a h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

.bar-footer a {
    text-decoration:none;
    color: #ffffff;
}

#footerIcon {
    right: 0%;
    top: 25%;
    font-size: 40px;
}