<ion-view title="Add Friends">
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="filter.text" autocorrect="off" >
        </label>
        <button class="button button-clear" ng-click="search()">Search</button>
    </ion-header-bar>

    <div class="bar bar-loading bar-assertive" ng-if="data.isLoading">
        Loading facebook friends...
    </div>

    <ion-content has-header="true" padding="true">

        <button ng-click="promptEmail()" class="button button-block button-stable">Invite by email</button>

        <ion-list class="list list-inset" ng-if="!data.isLoading">
            <div class="item item-divider">
                Facebook Friends
            </div>
            <ion-item ng-hide="filteredFriends.length">No Facebook friends found. Try to login with Facebook.</ion-item>
            <ion-item ng-repeat="friend in filteredFriends = (socialFriends | filter:{name:filter.text} | filter:filterInvited)"
                      class="item-avatar-left item-button-right">
                <img ng-src="http://graph.facebook.com/{{friend.id}}/picture">
                <h2>{{friend.name}}</h2>
                <button class="button button-calm"
                        ng-click="inviteFriend($index)"
                        prevent-default>Invite</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
