<ion-view title="{{friend.user.name}}">

    <a href="#/map" ng-if="address">
        <google-map
                center="map.center"
                zoom="map.zoom"
                control="map.control"
                options="map.options"
                >
            <markers models="markers"
                     coords="'location'"
                     icon="'photoSmall'"
                     fit="false"
                     options="'options'"
                    >
                <windows show="'showWindow'" options="map.infoWindowWithCustomClass.options" ng-cloak>
                    <img class="photo-thumb" href="#/friend/{{ id }}" ng-non-bindable src="{{ photoThumb }}">
                </windows>
            </markers>
        </google-map>
    </a>

    <ion-content has-header="true" padding="false" ng-class="{'has-map-top': address}">

        <div class="card" ng-show="address">
            <div class="item item-divider">
                Last address location
            </div>
            <a class="item item-icon-left"
               target="_blank"
               href="{{address.url}}">
                <i class="icon ion-android-location"></i>
                {{address.text}}
            </a>
            <a class="item item-icon-left"
               target="_blank"
               href="{{address.url}}">
                <i class="icon ion-ios7-clock-outline"></i>
                {{timeSince(friend.user.location.updated)}}
            </a>
            <a class="item item-icon-left"
               target="_blank"
               href="{{address.url}}">
                <i class="icon ion-android-locate"></i>
                Accuracy: {{friend.user.location.accuracy | number:2}} meters
            </a>
        </div>

        <div class="card" ng-hide="address">
            <div class="item item-divider">
                Last address location
            </div>
            <a class="item item-icon-left">
                <i class="icon ion-android-location"></i>
                No location
            </a>
        </div>


        <div class="card" ng-show="driving">
            <div class="item item-divider">
                Driving distance from my location
            </div>
            <a class="item item-icon-left" target="_blank" href="{{driving.url}}">
                <i class="icon ion-model-s"></i>
                {{driving.distance}}
                <span class="item-note">
                    {{driving.duration}}
                </span>
            </a>
        </div>

        <div class="card" ng-show="walking">
            <div class="item item-divider">
                Walking distance from my location
            </div>
            <a class="item item-icon-left" target="_blank" href="{{walking.url}}">
                <i class="icon ion-man"></i>
                {{walking.distance}}
                <span class="item-note">
                    {{walking.duration}}
                </span>
            </a>
        </div>

        <div class="card" ng-show="places.length">
            <div class="item item-divider">
                Places to meet up near your friend
            </div>
            <a class="item item-icon-left" ng-repeat="place in places" target="_blank" href="{{place.url}}">
                <i class="icon ion-android-contacts"></i>
                {{place.name}}
                   <span class="item-note">
                      {{place.distance}} m
                  </span>
            </a>
        </div>

        <!---    FRIEND STATUS FOR ME WHEN THERE ISN'T A LOCATION     ---->
        <div class="card" ng-switch="friend.user.status" ng-if="friend.user.status !== 'sharing'">
            <a ng-switch-when="not_sharing" class="item text-center item-energized"
               ng-click="askForLocation(friend.user.id)">
                Ask for location
            </a>

            <div ng-switch-when="blocked" class="item text-center item-stable">
                Friend unavailable
            </div>

            <div ng-switch-when="asked_to_share" class="item text-center item-stable">
                Waiting for friend to share location
            </div>

            <div ng-switch-when="pending_confirmation" class="item text-center item-stable">
                Pending friend invite confirmation
            </div>

            <div ng-switch-when="sent_request" class="item text-center item-stable">
                Sent you a friend invite
            </div>

            <div ng-switch-default></div>
        </div>

        <!---    ME BLOCKING FRIEND     ---->
        <div class="card" ng-if="friend.status != 'blocked'">
            <a class="item text-center item-assertive" ng-click="blockFriend(friend.user.id)">
                Block friend
            </a>
        </div>
        <div class="card" ng-if="friend.status == 'blocked'">
            <a class="item text-center item-balanced" ng-click="unblockFriend(friend.user.id)">
                Unblock friend
            </a>
        </div>
        <div class="card" ng-if="friend.status == 'blocked'">
            <a class="item text-center item-assertive" ng-click="deleteFriend(friend.user.id)">
                Delete friend
            </a>
        </div>

    </ion-content>
</ion-view>
