<ion-view title="Find My Friends">
    <ion-nav-buttons side="right">
        <a href="#/add-friends">
            <button class="button button-clear ion-person-add">
            </button>
        </a>
    </ion-nav-buttons>

    <ion-content padding="false" scroll="true"> <!-- class="has-map-top"> -->

        <a href="#/map">
            <google-map
                    center="map.center"
                    zoom="map.zoom"
                    control="map.control"
                    options="map.options"
                    >
                <markers models="markers"
                         coords="'location'"
                         icon="'photoSmall'"
                         fit="true"
                         options="'options'"
                         click="'onClicked'"
                        >
                    <windows show="'showWindow'" options="map.infoWindowWithCustomClass.options" ng-cloak>
                        <img class="photo-thumb" href="#/friend/{{ id }}" ng-non-bindable src="{{ photoThumb }}">
                    </windows>
                </markers>
                <!--<marker coords="location"
                        icon="user.photo">
                </marker>-->
            </google-map>
        </a>

        <div class="list">
            <a ng-repeat="friend in friends"
               class="item item-avatar item-button-right" href="#/friend/{{friend.user.id}}">
                <img ng-src="{{friend.user.photo}}?type=square">

                {{friend.user.name}}
                <p style="margin:0;">{{timeSince(friend.user.location.updated.date)}}</p>
                    <span ng-if="friend.user.status == 'sharing'"
                          class="badge badge-balanced">
                        {{friend.user.distance | number:2 }} km
                    </span>

                <button ng-if="friend.user.status == 'not_sharing'"
                        class="button button-energized"
                        ng-click="askForLocation({{friend.user.id}})" prevent-default>
                    Ask
                </button>

                <button ng-if="friend.user.status == 'asked_to_share'"
                        class="button button-stable" disabled>
                    Waiting
                </button>

                <button ng-if="friend.user.status == 'blocked'"
                        class="button button-stable" disabled>
                    Unavailable
                </button>

                <button ng-if="friend.user.status == 'pending_confirmation'"
                        class="button button-stable" disabled>
                    Invited
                </button>
            </a>
        </div>

    </ion-content>

    <ion-footer-bar class="bar-footer bar-positive">
        <a class="item-avatar-left item-button-right" href="#/me">
            <img ng-src="{{user.photo}}">
            <h4>Me</h4>
            <p>
                Sharing with
                {{ (user.friends | filter:{status:'sharing'}:true).length }}
                friend(s)
            </p>
            <i id="footer-icon" class="footer-icon button button-clear pull-right ion-chevron-right"></i>
        </a>
    </ion-footer-bar>
</ion-view>