<ion-view title="Find My Friends">
    <ion-content padding="true">
    
    <a href="#/map">
        <google-map 
         center="map.center" 
         zoom="map.zoom" 
         control="map.control"
         options="map.options" 
        >
            <markers models="markers"
                    coords="'location'"
                    icon="'photoSmall'"
                    fit="true"
                    options="'options'"
                    >
            </markers>
            <!--<marker coords="location"
                    icon="user.photo">
            </marker>-->
        </google-map>
    </a>
        <div class="list">
            <a ng-repeat="friend in friends"
               class="item item-avatar item-button-right" href="#/friend/{{friend.user.id}}">
                <img src="{{friend.user.photo}}?type=square">
                <h2>{{friend.user.name}}</h2>
                <p>{{friend.user.location.updated.date}}</p>
                <button class="button button-assertive">{{friend.user.distance | number:2 }} km</button>
            </a>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-footer bar-positive">
        <a class="item-avatar-left item-button-right" href="#/me">
            <img src="{{user.photo}}">
            <h4>Me</h4>
            <p>
                Sharing with
                {{ (user.friends | filter:{status:'sharing'}:true).length }}
                friend(s)
            </p>
            <i id="footerIcon" class="button button-clear pull-right ion-chevron-right"></i>
        </a>
    </ion-footer-bar>
</ion-view>