<ion-view title="Login">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login(user)">
                Sign-In
            </button>
            <p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
            </p>
        </div>

        <button class="btn btn-primary btn-block" ng-click="facebook()"><i class="fa fa-facebook"></i><span class="spacer"></span>login</button>
    </ion-content>
</ion-view>