<ion-view title="Find My Friends">
    <ion-content scroll="true">

        <div class="padding-top padding-left padding-right">
            <p class="icon-start"><img width="64" height="64" src="img/icon_128.png"></p>
        </div>

        <div class="padding">
            <button ng-click="facebook()" class="button button-block button-positive">
                <i class="icon ion-social-facebook-outline"></i> Login With Facebook
            </button>
        </div>

        <form name="loginForm">
            <div class="card">
                <div class="item item-divider">
                    Login With email
                </div>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input placeholder="me@mail.com"
                           required="true"
                           type="email"
                           ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="Password"
                           required="true"
                           ng-minlength="3"
                           type="password"
                           ng-model="user.password">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-balanced"
                        ng-disabled="loginForm.$invalid"
                        ng-click="login(user)">
                    Sign-In
                </button>
            </div>
        </form>

        <form name="registerForm">
            <div class="card">
                <div class="item item-divider">
                    Register with email
                </div>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input placeholder="me@mail.com"
                           required="true"
                           type="email"
                           ng-model="newUser.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input placeholder="John Doe"
                           required="true"
                           type="text"
                           ng-model="newUser.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="Password"
                           required="true"
                           ng-minlength="3"
                           type="password"
                           ng-model="newUser.password">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-royal"
                        ng-disabled="registerForm.$invalid"
                        ng-click="register(newUser)">
                    Register
                </button>
            </div>
        </form>

    </ion-content>
</ion-view>